<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Greeter Form V2</h1>
    <form action="/greet-2">
        <p>What's your name? <input name="username" placeholder="your name" type="text"></p>
        <label for="compliments">Do you want compliments</label>
        <input id="compliments" type="checkbox" name="wants_compliments">
        <button>Submit</button>
    </form>
</body>
</html>