{% extends 'home.html'%}
{% block title %}Pet List{% endblock %}
{% block content %}
<h1>All Pets</h1>
<ul>
    {% for pet in pets %}
    <li><a href="{{pet.id}}">{{pet.id}} - {{pet.name}}</a></li>
    {% endfor %}
</ul>
<h2>Add New Pet</h2>
<form action="/list" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="species" placeholder="species">
    <input type="number" name="hunger" placeholder="hunger">
    <button>Submit</button>
</form>
{% endblock %}