{% extends 'base.html' %} 
{% block title %}Phone Directory{% endblock %} 
{% block content %}

<div class="container">
    <h1 class="display-3">Phone numbers</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Employee</th>
          <th>Department</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.name}}<a class="btn btn-sm btn-primary" href="/employees/{{employee.id}}/edit"> Edit</a></td>
          <td>{{employee.department.dept_name}}</td>
          {% if employee.department.phone %} 
          <td>{{employee.department.phone}}</td> 
          {% else %} 
          <td class="text-danger"> NO PHONE </td> 
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/employees/new" class="btn btn-success">Add Employee</a>
</div>

{% endblock %}
