{% extends 'base.html' %} 
{% block title %}Address Form{% endblock %} 
{% block content %}
<h1>Enter Your Address</h1>
<div class="container">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-12">
      {% if coords %}
      <h3>
        Latitude: {{coords["latitude"]}}, Longitude: {{coords["longitude"]}}
      </h3>
      {% endif %}
      <form action="/geocode">
        <input type="text" name="address" placeholder="Enter Address" />
        <button>Go!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
